NEXT_PUBLIC_WHATSAPP_NUMBER=
NEXT_PUBLIC_SITE_URL=https://www.sattatodayresult.com
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_SITE_ID=
TOP_GAMES_MONGODB_URI=
TOP_GAMES_MONGODB_DATABASE=test
EXTRA_GAMES_MONGO_URI=
EXTRA_GAMES_MONGODB_DATABASE=test
